body {
  margin: 0;
  font-family: Georgia, serif;
  background: #f4efe6;
  display: flex;
}

#sidebar {
  width: 300px;
  background: #f8f3ea;
  padding: 20px;
  box-shadow: 4px 0 15px rgba(0,0,0,0.1);
  overflow-y: auto;
  height: 100vh;
}

#map {
  flex: 1;
  height: 100vh;
}
